@model List<Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-striped table-responsive-md btn-table">

    <thead>
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="categoryName">@item.CategoryName</td>
                <td class="activeOrPasif" id="@item.CategoryId">
                    <button type="button" class="btn btn-indigo btn-sm m-0 openUpdateModal">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-indigo btn-sm m-0 " onclick="DeleteCategory(@item.CategoryId)">Delete</button>
                </td>
            </tr>
        }

    </tbody>

</table>

<div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="updateModelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModelLongTitle">Category Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <small id="categoryIdModal" hidden></small>
                    <div class="form-group">
                        <label for="modalCatName">Category Name</label>
                        <input type="text" class="form-control" id="modalCatName">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="UpdateCategory()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
<script>
    var catName = "";
    var active = "";
    var categoryId = 0;
    $(document).ready(function (e) {
        $(document).on('click', '.openUpdateModal', function () {
            catName = $(this).closest('tr').find('#categoryName').text();
            $('#updateModel').modal('show');
            categoryId = $(this).closest('tr').find('.activeOrPasif').attr('id');
            $('#modalCatName').val(catName);
            $('#categoryIdModal').val(categoryId);
        });
    });

    function UpdateCategory() {
        var id = $('#categoryIdModal').val();
        var name = $('#modalCatName').val();
        if (name == catName) {
            alert("Bir değişiklik yapmadınız!!");
            return false;
        }
        var model = {
            CategoryId: id,
            CategoryName: name,
        };
        console.log(model);
        $.ajax(
            {
                type: "Delete",
                url: '/Category/Update',
                data: model,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    alert("Başarılı.");
                    window.location.href = "Category/Index";

                },
                error: function (response) {
                    alert("Hata!");
                }
            }
        );
    }
    function DeleteCategory(id) {
        $.ajax(
            {
                type: "POST",
                url: '/Category/Delete',
                data: id,
                dataType: "json",
                success: function (response) {
                    alert("Başarılı.");
                    window.location.href = "Category/Index";

                },
                error: function (response) {
                    alert("Hata!");
                }
            }
        );
    }
</script>